.header {
    font: 12pt Tahoma, Verdana;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #66aadb;
}

.headerLongin {
    font: 12pt Tahoma, Verdana;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #698CC3;
    line-height: 40px;
}

.header a {
    color: #FFFFFF;
}

.category {
    font: 12pt Tahoma, Verdana;
    color: #000000;
    background-color: #EFEFEF;
}

.tableborder {
    border: 1px solid #ccc;
    background-color:#FAFAFA;
}

.singleborder {
    font-size: 0px;
    line-height: 1px;
    padding: 0px;
    background-color: #F8F8F8;
}

.smalltxt {
    font: 12pt Tahoma, Verdana;
}

.outertxt {
    font: 12pt Tahoma, Verdana;
    color: #000000;
}

    .outertxt a {
        color: #000000;
    }

.bold {
    font-weight: bold;
}

.tableWidth {
    width: 243px;
}

img {
    width: 12px;
    vertical-align: baseline;
}

#divbody {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.c1 {
    width: 30%;
}

.c2 {
    width: 30%;
}

.c3 {
    width: 30%;
}

    .c3 input {
        width: 30px;
    }

    .c3 img {
        width: 12px;
        vertical-align: baseline;
    }

.widthButton {
    width: 160px;
}

.loginleft {
    width: 209px;
}

.foot {
    margin-top: 150px;
    position: relative;
    margin-left: auto;
    color: #4D4D4D;
    line-height: 21px;
    clear: both;
    text-align: center;
    bottom: 0px;
}

.btn {
    border-radius: 1px !important;
}

.form-control {
    border-radius: 1px !important;
}

.form-control-user {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 200px;
}

.label {
    font-size: 95% !important;
    border-radius: 1px !important;
    padding: .2em .6em .2em !important;
}

#myform {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
}
