
.nav {
    font: 12pt Tahoma, Verdana;
    color: #000000;
    font-weight: bold;
}

    .nav a {
        color: #000000;
    }

.header {
    font: 12pt Tahoma, Verdana;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #66aadb;
}

.headerLongin {
    font: 12pt Tahoma, Verdana;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #698CC3;
    line-height: 40px;
}

.header a {
    color: #FFFFFF;
}

.category {
    font: 12pt Tahoma, Verdana;
    color: #000000;
    background-color: #EFEFEF;
}

.tableborder {
    background: #D6E0EF;
    border: 1px solid #698CC3;
}

.singleborder {
    font-size: 0px;
    line-height: 1px;
    padding: 0px;
    background-color: #F8F8F8;
}

.smalltxt {
    font: 12pt Tahoma, Verdana;
}

.outertxt {
    font: 12pt Tahoma, Verdana;
    color: #000000;
}

    .outertxt a {
        color: #000000;
    }

.bold {
    font-weight: bold;
}

.tableWidth {
    width: 243px;
}

img {
    width: 12px;
    vertical-align: baseline;
}
