TD {
    table-layout: fixed;
    font-size: 14px;
    word-break: break-all;
    line-height: 200%;
    border: 1px solid #F0F5FD;
}

.subTitle {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 0.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    padding-left: 0px;
    background-color: #F0F5FD;
    font-weight: bold;
    color: #2A5485;
    font-size: 22px;
}

.subTitleTip {
    color: #999999;
    font-family: "ו", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.colorHave {
    color: #076FA2;
}

.zhusuSubject {
    width: 192px;
    border: 1px solid #F0F5FD;
}

table {
    table-layout: fixed;
}

    table tr td span input {
        padding-right: 6px;
        padding-left: 6px;
    }

    table tr td span label {
        padding-right: 16px;
    }

div input {
    padding-right: 10px;
}

div label {
    padding-right: 6px;
}

.tdTopBottomLine {
    border-top: 2px solid #F2F2F2;
}

fieldset {
    display: block;
    margin: 0;
    padding: 0;
    border: 2 solid #0cf;
}

legend {
    color: #00f;
    font-weight: bold;
}

.category-item {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 0 1px;
    margin: -1px 9px 0 5px;
    position: relative;
    padding-left: 10px;
    overflow: hidden;
    width: 750px;
}

.tableWidth {
    width: 750px;
}

.tableWidth2 {
    width: 720px;
}

.category-item1 {
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    padding: 0 1px;
    margin: -1px 9px 0 5px;
    position: relative;
    padding-left: 20px;
    overflow: hidden;
}

.UserLeft {
    border-right: #dddddd 1px solid;
    padding-left: 15px;
    background: #f7f7f7;
    border-collapse: collapse;
}

.UserRight {
    background: #ffffff;
    border-left: #dddddd 1px solid;
    border-collapse: collapse;
}

.UserTableRow1 {
    background-color: #f7f7f7;
}

.UserTableRow2 tr {
    background-color: #f0f0f0;
}

.UserTableBorder {
    font-style: normal;
    background-color: #ffffff;
    font-variant: normal;
}

.groupLine {
    border-bottom: #3795d2 1px solid;
}

.UserTableBorder2 {
    border-right: #3795d2 1px solid;
    border-top: #3795d2 1px solid;
    font-weight: normal;
    font-size: 12px;
    border-left: #3795d2 1px solid;
    line-height: normal;
    border-bottom: #3795d2 1px solid;
    font-style: normal;
    background-color: #ffffff;
    font-variant: normal;
}

TH {
    font-weight: bold;
    font-size: 18px;
    color: white;
    height: 30px;
    text-align: left;
    padding-left: 20px;
    background-image: url(../images/win_top2.png);
}

.THTitle {
    font-weight: bold;
    font-size: 28px;
    color: Black;
    height: 30px;
    text-align: center;
    font-family: Tahoma,Ariall,ו;
}

.foot {
    color: #4D4D4D;
    width: 960px;
    line-height: 21px;
    clear: both;
}

.userfont1 {
    color: red;
}

.userfont2 {
    color: #3795d2;
}

.userfont3 {
    color: green;
}

#editorbody {
    border-right: #696969 1px solid;
    border-top: #ffffff 1px solid;
    border-left: #ffffff 1px solid;
    border-bottom: #696969 1px solid;
    background-color: #f7f7f7;
}

#editorHead {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.editorTools {
}

.Toolsbar {
    padding-left: 8px;
    background: url(../../images/pic/bar.gif) no-repeat 2px 5px;
    float: left;
    height: 24px;
}

.ToolsUL {
    padding-right: 1px;
    display: inline;
    padding-left: 1px;
    padding-bottom: 1px;
    margin: 0px;
    padding-top: 1px;
    list-style-type: none;
}

    .ToolsUL LI {
        padding-right: 1px;
        padding-left: 1px;
        float: left;
        padding-bottom: 1px;
        padding-top: 1px;
    }

        .ToolsUL LI SELECT {
            font-size: 12px;
        }

.Toolsbutton:link {
    border-right: #c6c3bd 1px solid;
    padding-right: 2px;
    border-top: #c6c3bd 1px solid;
    display: block;
    padding-left: 2px;
    background: url(../../images/pic/toolbar.buttonbg.gif) #efefef repeat-x;
    padding-bottom: 2px;
    border-left: #c6c3bd 1px solid;
    width: 18px;
    padding-top: 2px;
    border-bottom: #c6c3bd 1px solid;
    height: 18px;
}

.Toolsbutton:visited {
    border-right: #c6c3bd 1px solid;
    padding-right: 2px;
    border-top: #c6c3bd 1px solid;
    display: block;
    padding-left: 2px;
    background: url(../../images/pic/toolbar.buttonbg.gif) #efefef repeat-x;
    padding-bottom: 2px;
    border-left: #c6c3bd 1px solid;
    width: 18px;
    padding-top: 2px;
    border-bottom: #c6c3bd 1px solid;
    height: 18px;
}

.Toolsbutton:hover {
    border-right: #316ac5 1px solid;
    border-top: #316ac5 1px solid;
    background: #c1d2ee;
    border-left: #316ac5 1px solid;
    border-bottom: #316ac5 1px solid;
}

.Smilie:link {
    border-right: #fff 1px solid;
    padding-right: 2px;
    border-top: #fff 1px solid;
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    border-left: #fff 1px solid;
    width: 19px;
    padding-top: 2px;
    border-bottom: #fff 1px solid;
    height: 19px;
}

.Smilie:visited {
    border-right: #fff 1px solid;
    padding-right: 2px;
    border-top: #fff 1px solid;
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    border-left: #fff 1px solid;
    width: 19px;
    padding-top: 2px;
    border-bottom: #fff 1px solid;
    height: 19px;
}

.Smilie:hover {
    border-right: #316ac5 1px solid;
    border-top: #316ac5 1px solid;
    background: #c1d2ee;
    border-left: #316ac5 1px solid;
    border-bottom: #316ac5 1px solid;
}

.UBBSmiliesPanel {
    border-right: #000 1px solid;
    padding-right: 0px;
    border-top: #000 1px solid;
    padding-left: 0px;
    background: #fff;
    visibility: hidden;
    padding-bottom: 0px;
    border-left: #000 1px solid;
    padding-top: 0px;
    border-bottom: #000 1px solid;
    position: absolute;
    text-align: left;
}

.editorContent {
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 6px;
    width: 100%;
    padding-top: 0px;
    text-align: center;
}

.editTextarea {
    border-right: #999 1px solid;
    padding-right: 1px;
    border-top: #999 1px solid;
    padding-left: 1px;
    font-size: 12px;
    padding-bottom: 1px;
    overflow: auto;
    border-left: #999 1px solid;
    width: 96%;
    padding-top: 1px;
    border-bottom: #999 1px solid;
    text-align: left;
}

.ToolsUL LI {
    font-size: 12px;
}

.UBBContainer {
    border-right: #ccc 1px solid;
    border-top: #ccc 1px solid;
    background: #f7f7f7;
    border-left: 3px solid;
    border-bottom: #ccc 1px solid;
}

.UBBTitle {
    padding-right: 4px;
    padding-left: 4px;
    font-weight: bold;
    background: #eee;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: #ccc 1px dotted;
}

.UBBContent {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    line-height: 160%;
    padding-top: 6px;
}

    .UBBContent TEXTAREA {
        margin-bottom: 2px;
        width: 550px;
    }

FORM {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}



#ddlArrhythmiaExist {
    font-size: 14px;
    word-break: break-all;
    line-height: 160%;
}



.Wdate {
    border: #999 1px solid;
    background: #fff url(datePicker.gif) no-repeat right;
    font-size: 13px;
}

.WdateFmtErr {
    font-weight: bold;
    color: red;
}

.Dgs {
    border: 1px solid #F0F5FD;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 3px;
}

.TextBoxSyle {
    vertical-align: middle;
}

.LeftKind {
    width: 130px;
    vertical-align: middle;
}

.styleLeft {
    padding-left: 20px;
}

.FirstLeft {
    width: 150px;
}

.JiWangLeft {
    width: 100px;
}

.jiwangSubject {
    width: 120px;
}

.subject {
    width: 90px;
}

.jinbingbanshuiSubject {
    width: 140px;
}

.ButtonSave {
    border: groove inset 1px #000000;
    background: #24B1DC;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#84B0DC',endColorstr='#ffffff', gradientType='0')progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='#8b9b99', Positive='true');
    color: black;
    font-family: Comic Sans MS;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.ButtonSave1 {
    background: #24B1DC;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#84B0DC',endColorstr='#ffffff', gradientType='0')progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='#8b9b99', Positive='true');
    color: black;
    font-family: Comic Sans MS;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
}

.Column1 {
    width: 120px;
}

.Column2 {
    width: 300px;
}

.Column3 {
    width: 110px;
    color: Blue;
}

.Column4 {
    width: 250px;
}

.Column5 {
    width: 110px;
}

.Column6 {
    width: 170px;
}

.Column1JiBing {
    width: 180px;
}

.Column2JiBing {
    width: 180px;
}

.Column3JiBing {
    width: 100px;
}

.Column4JiBing {
    width: 210px;
}

.placehoder {
    padding-bottom: 30px;
}

.style9 {
    background-color: #f7f7f7;
    height: 12px;
}

.style12 {
    width: 390px;
}

.style13 {
    width: 390px;
}

.Column2JiWangBingShi {
    width: 230px;
}

.Column1JiBing1 {
    width: 180px;
    color: Blue;
}

.Column1JiBing11 {
    width: 280px;
    color: Blue;
}

.Column1ZhuSuXianBingShi {
    width: 190px;
    color: Blue;
}

.Column2ZhuSuXianBingShi {
    width: 190px;
}

.Column1DetailZhuSuXianBingShi {
    width: 180px;
}

.ColumnYouWu {
    width: 40px;
}

.Column2JiBing1 {
    width: 200px;
}

.Column3JiBing1 {
    width: 150px;
}

.style12 {
    width: 150px;
}

.btn2 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    /* border-radius: 4px; */
}

#search-bar {
    margin-top: 10px;
    margin-bottom: 5px;
}

.badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
background-color: #777;
border-radius: 10px;
}

#div-body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
